<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handleShare()">
        <ion-icon slot="icon-only" name="share-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <ion-input [(ngModel)]="message" label="Message to Share" labelPlacement="stacked"></ion-input>
  <ion-button expand="block" (click)="handleShare()">Share Message</ion-button>

</ion-content>
